<html>
    <head>

    </head>
    <body>
        <h1>Issue Has Been Submitted!</h1>
        Category: {{category}}<br>
        Urgency: {{urgency}}<br>

        City: {{city}}<br>
        State: {{state}}<br>
        Zipcode: {{zipcode}}<br>
        Description: {{description}}<br>



        <button><a href="/redirecthome" style="text-decoration: none">Redirect to Homepage</a></button><br><br>
    </body>
</html>
