<html>
    <head>
    </head>
    <body>
        <h1>My Issuses</h1>

        {{#each this}}
        <h3>Issue ID: {{id}}</h3>
        Category: {{category}}<br>
        Urgency: {{urgency}}<br>

        City: {{city}}<br>
        State: {{state}}<br>
        Zipcode: {{zipcode}}<br>
        Description: {{description}}<br>
        {{/each}}


    </body>
</html>
